Repository Restiloc/api, pull requests merged in 2023-02, with the labels that each got.

#25 README
  README.md
Labels: docs, feat

#26 Feat: api documentation
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config.ts
  docs/guide/auth/login.md
  docs/guide/auth/register.md
  docs/guide/expertises.md
  docs/guide/experts.md
  docs/guide/garages.md
  docs/guide/index.md
  docs/guide/missions.md
  docs/guide/models.md
  docs/guide/prestations.md
  docs/guide/reasons.md
  docs/guide/unavailabilities.md
  docs/guide/vehicles.md
  docs/index.md
  package-lock.json
  package.json
Labels: api, docs

#28 hotfix: abort 400
  app/Http/Middleware/Authenticate.php
Labels: api, bug

#32 Update fonctions index() and show()
  app/Http/Controllers/Api/ExpertController.php
  app/Http/Controllers/Api/GarageController.php
  app/Http/Controllers/Api/MissionController.php
  app/Http/Controllers/Api/PreeController.php
  app/Http/Controllers/Api/ReasonController.php
  app/Http/Controllers/Api/UnavailabilityController.php
  app/Http/Controllers/Api/VehicleController.php
  app/Http/Controllers/Api/VehicleExpertController.php
  app/Http/Controllers/Api/VehicleModelController.php
  routes/api.php
Labels: api, back, feat
